<div class="gaugeContainer">
    <div [ngStyle]="getBackground()"></div>

    <div id="pieSlice" class="hold">
        <div class="pie" [ngStyle]="getPieBackground()"></div>
    </div>

    <div class="innerCircle">
        <div class="content">
            <div class="uppercase text-white">{{title}}</div>
            <div class="uppercase text-white font-bold text-4xl">{{value}}</div>
            <div class="uppercase text-white font-bold text-xl">{{unit}}</div>

        </div>
    </div>
</div>