.dragon {
    background: url("/assets/dragon.png") no-repeat;
    background-size: 400px;
    background-position: center 100px;
}

.background {
    background: #13162a url("/assets/bg.svg"); // #13162a
}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid #1A1C48;
    border-right: 100px solid transparent;
}

#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid #1A1C48;
    border-left: 100px solid transparent;
}